* {
    box-sizing: border-box;
}

body {
    background-color: rgba(119, 208, 238, 1);
    color: white;
    border: 5px solid rgb(0, 218, 064);
    padding: 15px;
}

section {
    padding: 20px 35px 2px 35px;
}

.clicked {
    color: white;
    text-decoration: none;
}

h1 {
    padding-top: 10px;
    font-style: italic;
    font-weight: 200;
    font-size: 42px;
}

nav > ul {
    margin-bottom: -12px;
}

footer > ul {
    margin-bottom: 35px;
}

h1, 
ul {
    text-align: center;
}

li {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
}

h2, li {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 27px;
}

p {
    font-size: 20px;
    color: rgba(234, 237, 238, 1);
    padding-right: 10px;
    line-height: 1.35;
}

img {
    float: right;
    max-width: 225px;
    padding: 10px;
}

.greenText {
    color: rgb(1, 201, 147);
    text-decoration: underline;
}

.navDivider {
    color: rgba(128, 125, 123, 1)
}