header {
    border: 5px solid black;
    height: 25vh;
    width: 100%;
    content: "";
}

section {
    float: left;
    height: 50vh;
    width: 32vw;
    border: 5px solid black;
    content: "";
}

footer {
    float: right;
    border: 5px solid black;
    height: 25vh;
    width: 100%;
    content: "";
}